# Temporary Python files
*.yml
*.ini
pip-wheel-metadata/


# Temporary virtual environment files
/.cache/
/.venv/
tmp/

# Temporary server files
.env

# Generated documentation
/docs/
/bin/
/notebooks/
/docs/apidocs/
/site/
/*.html
/docs/*.png


# Build and release directories
/build/

